.cover-chat-container {
    margin: 8px;
    border: solid rgb(223, 223, 223) 1px;
    height: 85vh;
}

.cover-chat-container-header {
    border-bottom: solid rgb(223, 223, 223) 1px;
    text-align: center;
}

.chat-container {
    height: 97.5%;
    position: relative;
}

.cover-chat-container > ul {
    list-style: none;
}

.chat-item-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 4px 8px;
}

.chat-img-post {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-img-post > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #dfe2ef;
    object-fit: cover;
}

.chat-item-content {
    margin: auto;
    margin-left: 8px;
}

.chat-date {
    margin: 2px 0 0 0;
    padding: 0;
    text-align: right;
    font-size: 80%;
    color: rgb(158, 158, 158);
}

#form {
    padding: 0.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
}

#input {
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form > button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    background-image: url('../../images/doodle.png');
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 65vh;
}

.message-cover {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}


.message {
    margin: 8px;
    padding: 0.5rem 1.25rem;
    border: 0.5px solid rgb(207, 207, 207);
    background: #fff;
    width: fit-content;
    max-width: 75%;
    border-radius: 25px;
}

.message-text {
    width: fit-content;
    margin: 0 0 0 20px;
    padding: 0;
}


.sender-message-text {
    margin: 0;
    padding: 0;    
}

.false-message-text {
    margin: 0 20px 0 0;
    padding: 0;    
}


.sender-chat-date {
    margin: 0 0 0 20px;
    padding: 0;
}

.false-chat-date {
    margin: 0 0 0 20px;
    padding: 0;
}

.sender {
    flex-direction: row-reverse;
    background: #e1ffc7;
    right: 0;
}

.cover-chat-container-1 {
    max-width: 860px;
    width: 100%;
    margin: auto;
}

.cover-chat-container-2 {
    max-width: 860px;
    margin: auto;
}

@media screen and (max-width: 420px) {
    .cover-chat-container {
        margin: 4px 0;
        width: 100%;
    }

    #form > button {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .cover-chat-container-2 {
        width: 100%;
    }

    .cover-chat-container-1 {
        width: 100%;
    }
}
