.profile-details {
    position: relative;
    padding:36px;
    box-shadow: 4px 4px 16px #DFE2EF;
    border-radius: 8px;   
}

.profile-details-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 8px;
}

.profile-item-details-card {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-img > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid #DFE2EF;
    object-fit: cover;
}


.profile-img-post {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile-img-post > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #dfe2ef;
    object-fit: cover;
}

.profile-content {
    margin: 2px 24px;
}

.profile-content-details {
    line-height: 105%;
}

.profile-content-details > .links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.profile-content-details > .links > li {
    margin: 0 2px;
}

.edit-icon {
    position: absolute;
    right: 16px;
    top:16px;
}


.edit-icon img {
    width: 24px;
}

.btn-grp > button {
    margin-right: 8px;
}

.btn-grp-card {
    width: 50px;
}

.btn-grp-card > button {
    margin-right: 8px;
    position: absolute;
    right: 5%;
}


@media screen and (max-width:600px) {
    .profile-details-card > .profile-content {
        margin: 8px 2px 2px 2px;
        width: 100%;
    }

    .profile-item-details-card > .profile-content {
        margin: 2px;
    }
}

.connectivity-dashboard {
    display: flex;
    flex-wrap: wrap;
}

